<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ITeacherService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://virtualclassroomservices.apphb.com/Services/TeacherService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITeacherService"
                contract="TeacherServiceReference.ITeacherService" name="BasicHttpBinding_ITeacherService" />
        </client>
    </system.serviceModel>
</configuration>