<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="sessionBinding">
                    <reliableSession enabled="true" />
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://virtualclassroomservices.apphb.com/Services/TeacherService.svc"
                binding="wsHttpBinding" bindingConfiguration="sessionBinding"
                contract="TeacherServiceReference.ITeacherService" name="BasicHttpBinding_ITeacherService" />
        </client>
    </system.serviceModel>
</configuration>